html {
  font-size: 18px;
  font-family: "Helvetica", Arial, sans-serif;
}

body {
  width: 960px; 
}

/* Header */
header {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* position: fixed;
  z-index: 5; */
}

.title {
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

header h1 {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}

.title img {
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
}
/* Making a main div to push the remainder of page below the fixed header
#main {
  top: 201px;
}*/

/* Jumbotron */
.jumbotron {
  background: url("../images/moto.jpeg") no-repeat center center;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  height: 25rem;
}

.announcement {
  text-transform: uppercase;
  width: 20rem;
  min-height: 50%;
  background-color: black;
  color: white;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.announcement h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 5%;
}

.announcement h1, .announcement h2 {
  margin-left: 10%;
}

.announcement h2 {
  font-size: 1rem;
  font-weight: bold;
}
/* Navigation */
nav {
  background-color: #B00024;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
}

nav li {
  color: white;
}

/* Catalog */
/* Create a parent container that spans the width of the page and has explicit height */
#catalog {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Create box to put the catalog items in */
#catalog-total {
  /* Use border in debugging positioning of this larger div */
  /* border: 1px solid red; */
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}

/* Had to put images in divs to scale them down to spec size */
.catalog-item {
  width: 30%;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog-picture {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-picture img {
  width: 50%;
  height: 50%;
}

.catalog-name {
  width: 100%;
  height: 20%;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Contact Info */
/* Create a parent container that spans the width of the page and has explicit height */
#contact-info {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

/* Create box to put all contact information in */
#contact-info-total {
  /* Use border in debugging positioning of this larger div */
  /* border: 1px solid red; */
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.location, .hours {
  width: 50%;
}

.location-name, .location-coordinates, .hours-name, .hours-time {
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 3%;
}

.location-name, .hours-name {
  background: black;
  color: white;
}

/* Footer */
footer{
  background: black;
  color: white;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
}

.footer-name {
  margin-left: 20%;
}
